# Compiled binary
bin/
*.exe
*.o
*.out
*.test
*.prof

# Dependency directories
/vendor/
/go.sum
/go.mod

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-specific
/.idea/
*.iml

# OS-specific
Thumbs.db
.DS_Store